.order-wrapper{
    height: 1800px;
    display: flex;
    background-color: gray;
    justify-content: center;
}

.left-text{
    height: 1000px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgb(108, 108, 204);
    justify-content: center;
    align-items: center;
}

.size{
    background-color: red;
    height: 500px;
    justify-content: center;
    width: 80%;
    /* padding: 20px; */
    margin: 20px;
}

.deli-details{
    background-color: rgb(8, 61, 43);
    padding: 40px;
    height: 500px;
    width: 80%;
    justify-content: center;
}

.right-text{
    height: 1000px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: brown;
    justify-content: center;
    align-items: center;
}

.history{
    background-color:yellow;
    height: 200px;
    width: 200px;

}

.track{
    background-color: black;
    width: 200px;
    height: 200px;
}

